---
title: Richard Blog
---
<!-- Metadata. -->
<meta name="keywords" content="python,java,javascript,blog" />
<meta name="description" content="A Blog sharing the coding knowlegde for Java, Python and JavaScript" />
<h2>Welcome</h2>



<p>I've reproduced a list of recent posts here for your reading pleasure:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

